<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- The logging pattern, you might want to adapt it -->
            <pattern>%d %coloredLevel %t - %logger - %message%n%xException</pattern>
        </encoder>
    </appender>

    <!-- Here you can change the levels of specific loggers -->
    <logger name="somelogger" level="INFO" />

    <!-- Default logging level for every logger -->
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>